.translateBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    border: 3px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 40px auto;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.translateBox img {
    width: 100%;
    max-width: 650px;
    height: auto;
    border: 2px solid #dcdcdc;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.LeftButton, .RightButton {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.LeftButton:hover, .RightButton:hover {
    background-color: #2c82c9;
}

.LeftButton {
    left: -50px;
}

.RightButton {
    right: -50px;
}

footer {
    margin-top: 30px;
    font-size: 16px;
    color: #707070;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.badge {
    background-color: #ffcc00;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}
